<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<system.serviceModel>
		<bindings>
   <wsDualHttpBinding>
    <binding name="WSDualHttpBinding_IChatService" />
   </wsDualHttpBinding>
  </bindings>
		<client>
   <endpoint address="http://localhost:8733/" binding="wsDualHttpBinding"
    bindingConfiguration="WSDualHttpBinding_IChatService" contract="bravo_kobra.IChatService"
    name="WSDualHttpBinding_IChatService">
    <identity>
     <userPrincipalName value="AzureAD\GavrailShodov" />
    </identity>
   </endpoint>
  </client>
	</system.serviceModel>
</configuration>